
.app-wrapper{
    width: 500px;
    padding: 0px;
    border-radius: 5px;
    margin: 0px auto;
    height: 100%;
}

.form-wrapper{
    margin-top: 65px;
    margin-bottom: 10px;
}


.error{
    color: red;
}






.form-btn{
    text-align: center;
    margin-top: 25px;
}

